.sofaMainImgWrapper {
  display: flex;
  justify-content: center;
}

.sofaMainImg {
  max-height: 5rem;
}

.mainPageDivider {
  height: 1.5rem;
  background-color: #ebc634;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #a8a7a3;
}