.firstRowImagesWrapper {
  margin-top: 0.5rem;
}

.homePageWrapper {
  width: 95%;
  margin: auto;
}

.planImageWrapper {
  margin-bottom: 1rem;
  flex-basis: 25%;
}

.planImage {
  width: 100%;
  height: 100%;
}

.firstFlatPictureWrapper {
  text-align: center;
  flex-basis: 85%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstFlatPicture {
  width: 100%;
}

.firstFlatTitleWrapper {
  background-color: #000;
  padding: 0.5rem 0;
  text-align: center;
}

.firstFlatTitleWrapper h1 {
  color: #fff;
}

.firstFlatTitle {
  font-size: 2.5rem;
  margin: 0;
}

.humanPicture {
  width: 100%;
}

.humanPictureWrapper {
  padding: 1.3rem;
  border: 6px solid;
  margin-bottom: 1rem;
  flex-basis: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contactEmail {
  font-weight: bold;
  font-size: 1.5rem;
}

.contactPhone {
  font-weight: bold;
  font-size: 1.3rem;
}

.sofaInFlatWrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sofaInFlatPicture {
  border: 6px solid;
  width: 100%;
  margin-bottom: 1rem;
}

.designForYouHomeWrapper {
  background-color: #dbdbdb;
  padding: 0.3rem 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  flex-basis: 50%;
}

.designForYourHomeTitle {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.designForYourHomeDescription {
  margin: 2rem 0 0 0;
  font-size: 1rem;
  color: #000;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 100%;
}

@media (min-width: 640px) {
  .firstRowImagesWrapper {
    display: flex;
    justify-content: space-around;
  }

  .homePageWrapper {
    width: 100%;
    margin: 0;
  }
  
  .planImageWrapper {
    margin: 1rem;
  }
  
  .firstFlatPictureWrapper {
    margin: 1rem;
  }
  
  .firstFlatPicture {
    width: 100%;
  }
  
  .firstFlatTitleWrapper {
    margin: 1rem 1rem 0 1rem;
  }
  
  .firstFlatTitleWrapper h1 {
    color: #fff;
  }
  
  .firstFlatTitle {
    font-size: 3.5rem;
  }
  
  .humanPictureWrapper {
    margin: 1rem;
  }
  
  .contactEmail {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .contactPhone {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .sofaInFlatWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
  }
  
  .sofaInFlatPicture {
    width: 60%;
  }
  
  .designForYouHomeWrapper {
    margin: 0 1rem;
  }
  
  .designForYourHomeTitle {
    font-size: 2.5rem;
  }
  
  .designForYourHomeDescription {
    margin: 2rem 0 0 0;
    font-size: 1rem;
    color: #000;
    height: auto;
  }
}