.aboutPageContentWrapper {
  display: block;
}

.aboutPageContent {
  background-color: #dbdbdb;
  border: 3px solid;
  flex-basis: 35%;
  font-weight: bold;
}

.aboutPageFirstParagraph {
  font-size: 1.5rem;
  padding: 2rem;
}

.aboutPageSecondParagraph {
  font-size: 2rem;
  padding: 2rem;
}

.aboutPageImageWrapper {
  flex-basis: 65%;
  border: 3px solid;
}

.aboutPageImage {
  width: 100%;
  height: 100%;
}

.ourTeamWrapper {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .aboutPageContentWrapper {
    display: flex;
  }

  .ourTeamWrapper {
    display: flex;
    justify-content: center;
  }
}