.bigHumanTileWrapper {
  text-align: center;
  margin: 0 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.bigTilePhotoWrapper {
  height: auto;
}

.bigTilePhoto {
  width: 100%;
}

@media (min-width: 640px) {
  .bigHumanTileWrapper {
    height: 43rem;
  }
}